*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family-sans;
  background-color: $color-bg;
  color: $color-text-main;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans;
}